<%: func About(show map[string]interface{}, buffer *bytes.Buffer) %>


<%+ "header.html" %>

<body class="custom-background">

<%+ "body_head.html" %>

<%+ "nav.html" %>


	<div class="container">
        		        <div class="row">
			                <div class="subsidiary box">
                    <div class="bulletin fourfifth">
                        <span class="sixth">当前位置：</span>       关于              </div>
                </div>
                    </div>






      	<div class="mainleft" id="content">
			<div class="article_container row  box">
                <h1 >关于</h1>

            	<div class="clear"></div>

            <div class="context">
				<div id="post_content">
                    <p>
                        <img alt="" src="/static/image/xuexi.png">
                        <br>◎本　　站：golang + redis 实现的影站(低级爬虫)。无管理后台。
                        <a href="https://github.com/hezhizheng/go-movies" target="_blank" style="cursor:pointer;text-decoration: underline;color: #5ca9e4">使用参考</a>
                        <br>◎说　　明：bug存在，有精力在慢慢搞（PS：页面加载不正常请重新刷新）。
                        <br>◎界　　面：copy某一个电影网站的，排版请见谅。
                        <br>◎联　　系：<a href="https://www.facebook.com/hezhizheng1026" target="_blank"
                                     aria-label="hezhizheng 的 Facebook 地址">
                            <i class="fa fa-facebook fa-fw" title="Facebook"></i>
                        </a>
                        <a href="https://twitter.com/he_zhizheng" target="_blank"
                           aria-label="hezhizheng 的 Twitter 地址">
                            <i class="fa fa-twitter fa-fw" title="Twitter"></i>
                        </a>
                        <a href="http://weibo.com/u/5675317400" target="_blank"
                           aria-label="hezhizheng 的 Weibo 地址">
                            <i class="fa fa-weibo fa-fw" title="Weibo"></i>
                        </a>
                        <a href="https://github.com/hezhizheng" target="_blank"
                           aria-label="hezhizheng 的 Github 地址">
                            <i class="fa fa-github fa-fw" title="Github"></i>
                        </a>
                        <a href="https://www.instagram.com/dexter_ho_cn" target="_blank"
                           aria-label="hezhizheng 的 Instagram 地址">
                            <i class="fa fa-instagram fa-fw" title="Instagram"></i>
                        </a>
                        <a href="https://hzz.cool" target="_blank"
                           aria-label="hezhizheng 的 blog 地址">
                            <i class=" fa fa-bold" title="blog"></i>
                        </a>
                    </p>

                    <hr>

</div>
                &nbsp;               	<div class="clear"></div>



            </div>
		</div>

    	<div>

	</div>

  </div>
    </div>




</body>

<%+ "footer.html" %>

</html>
