<%: func Index(show map[string]interface{}, buffer *bytes.Buffer) %>

<%+ "header.html" %>

<body class="custom-background">

<%+ "body_head.html" %>

<%+ "nav.html" %>



<div class="container">

    <div class="subsidiary row box">
        <div class="bulletin fourfifth"> <span class="sixth">站点公告：</span>
            <marquee class="fivesixth" direction="left" onmouseout="start();" onmouseover="stop();" scrollamount="2" scrolldelay="15;">
                本站仅供测试、学习交流，请手下留情。
            </marquee>
        </div>
        <div class="bdshare_small fifth">
        </div>
    </div>


    <%+ "sidebar.html" %>


    <%+ "main_left.html" %>

</div>

<div class="navigation container">
    <div class='pagination'>

        <a href="<%= show["prev"].(string) %>" class="prev"  style="
        <% if show["prev_status"].(string) == "0" { %>
        <%= "pointer-events: none" %>
        <% } %>
        "> <%= "上一页" %></a>

        <a href="<%= show["next"].(string) %>" class="next"  style="
        <% if show["next_status"].(string) == "0" { %>
        <%= "pointer-events: none" %>
        <% } %>
        "> <%= "下一页" %></a>

    </div>
</div>

<div class="clear"></div>

</body>


<%+ "footer.html" %>

</html>