<%: func M3u8(show map[string]interface{}, buffer *bytes.Buffer) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>play</title>
    <meta name="referrer" content="never">
    <script type="text/javascript" src="/static/org/ckplayer/ckplayer/ckplayer.js"></script>
</head>
<body>

<div id="video" style="width:100%;height:100%;"></div>
<script type="text/javascript">
    var videoObject = {
        container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        flashplayer:false,//如果强制使用flashplayer则设置成true
        video:"<%= show["play_url"].(string) %>" //视频地址
    };
    var player=new ckplayer(videoObject);
</script>

</body>
</html>
