<div class="mainmenus container" id="nav_b">
        <div class="mainmenu">
            <div class="topnav">
                <ul id="menus">

                    <li class="menu-item
                    <% if show["nav_link"] == "/" { %>
                    <%= "current_page_item" %>
                    <% } %> ">
                    <a href="/">首页</a>
                    </li>


                    <% for _, category := range show["categories"].([]utils.Categories) { %>
                        <li class="menu-item
                        <% if category.Link == show["nav_link"] { %>
                            <%= "current_page_item" %>
                        <% } %> ">
                    <a href="/?cate=<%= category.Link %> "><%= category.Name %></a>

                    <ul class="sub-menu">
                        <% for _, subCategory := range category.Sub { %>
                        <li class="menu-item">
                            <a href="/?cate=<%= subCategory.Link %>"><%= subCategory.Name %></a>
                        </li>
                        <% } %>
                    </ul>


                    </li>
                    <% } %>

                    <li class="menu-item
                    <% if show["nav_link"] == "/about" { %>
                    <%= "current_page_item" %>
                    <% } %> ">
                    <a href="/about"> 关于 </a>
                    </li>

                </ul>
                <div id="select_menu">
                    <select onChange="document.location.href=this.options[this.selectedIndex].value;" id="select-menu-nav">
                        <option value="#">导航菜单</option>
                        <% for _, category := range show["categories"].([]utils.Categories) { %>
                        <option   value="/?cate=<%= category.Link %> "><%= category.Name %></option>
                        <% for _, subCategory := range category.Sub { %>
                        <option   value="/?cate=<%= subCategory.Link %> ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= subCategory.Name %></option>
                        <% } %>
                        <% } %>
                        <option   value="about"> 关于 </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>


<div class="search_m box row">
    <div class="search_site" style="width: 100%;">
        <form method="get" name="searchform" id="searchform" action="/search">
            <input type="submit" value="" id="searchsubmit" class="button">
            <label><span>请输入搜索内容，仅支持电影名称</span>
                <input type="text" class="search-s" name="q" required>
            </label>
        </form>
    </div>
</div>
