{{ define "index.html" }}

{{ template "header.html" . }}

<body class="custom-background">



{{/*头 log*/}}
{{ template "body_head.html" . }}

{{/*导航栏*/}}
{{ template "nav.html" . }}


<div class="container">

    <div class="subsidiary row box">
        <div class="bulletin fourfifth"> <span class="sixth">站点公告：</span>
            <marquee class="fivesixth" direction="left" onmouseout="start();" onmouseover="stop();" scrollamount="2" scrolldelay="15;">
                <script src="/static/js/thea2.js"></script>
            </marquee>
        </div>
        <div class="bdshare_small fifth">
        </div>
    </div>


    {{ template "sidebar.html" . }}


    {{ template "main_left.html" . }}

	</div>


{{/*分页*/}}
{{/*prev  current */}}
{{/* style="pointer-events: none"  不能点击 */}}
	<div class="navigation container">
        <div class='pagination'>
            <a href="{{ .prev }}" class="prev"  style=" {{ if eq .prev_status "0" }} pointer-events: none {{ end }} " >上一页</a>
            &nbsp;<a href="{{ .next }}" class="next" style=" {{ if eq .next_status "0" }} pointer-events: none {{ end }} " >下一页</a>
        </div>
    </div>

<div class="clear"></div>

</body>


{{ template "footer.html" . }}

{{/*<script>*/}}
{{/*    $(document).ready(function(){*/}}
{{/*        let start = 0;*/}}
{{/*        let stop = 14;*/}}

{{/*    });*/}}
{{/*</script>*/}}

</html>
{{ end }}
