{{ define "movie_detail.html" }}

{{ template "header.html" . }}

<body class="custom-background">


{{/*头 log*/}}
{{ template "body_head.html" . }}

{{/*导航栏*/}}
{{ template "nav.html" . }}


	<div class="container">
        		        <div class="row">
			                <div class="subsidiary box">
                    <div class="bulletin fourfifth">
                        <span class="sixth">当前位置：</span>       {{ .MovieDetail.detail.type }}              </div>
                </div>
                    </div>



            {{ template "sidebar.html" . }}



      	<div class="mainleft" id="content">
			<div class="article_container row  box">
				<h1 class="info-name">{{ .MovieDetail.info.name }}</h1>
                    <div class="article_info">
                        <span class="info_author info_ico"></span>
                        <span class="info_category info_ico"><a href="index6.html" title="查看剧情片中的全部文章" rel="category tag">{{ .MovieDetail.detail.type }}</a></span>
                        <span class="info_date info_ico">{{ .MovieDetail.detail.update }}</span>
                    </div>
            	<div class="clear"></div>

            <div class="context">
				<div id="post_content">
                    <p>
                        {{/*   <img alt="" src="{{ .MovieDetail.info.cover }}">*/}}
                        <img
                                src="/static/image/golang.png"
                                data-url="{{ .MovieDetail.info.cover }}"
                                onerror="this.src='/static/image/golang.png'"
                                alt="{{ .MovieDetail.info.name }}" >

                        <br>◎片　　名　{{ .MovieDetail.info.name }}
                        <br>◎别　　名　{{ .MovieDetail.detail.alias }})
                        <br>◎年　　代　{{ .MovieDetail.detail.released }}
                        <br>◎产　　地　{{ .MovieDetail.detail.area }}
                        <br>◎类　　别　{{ .MovieDetail.detail.type }}
                        <br>◎语　　言　{{ .MovieDetail.detail.language }}
                        <br>◎字　　幕　。。。
                        <br>◎上映日期　。。。
                        <br>◎片　　长　{{ .MovieDetail.detail.length }} 分钟
                        <br>◎导　　演　{{ .MovieDetail.detail.director }}
                        <br>◎主　　演　{{ .MovieDetail.detail.starring }}
                    </p>
                    <p>◎简　　介
                        <br>
                        {{ .MovieDetail.detail.vod_play_info }}
                        <br>&nbsp;
                    </p>

                    <hr>

</div>
                &nbsp;               	<div class="clear"></div>

<div class="widget box row">
    <h3>播放地址 kuyun （无插件 极速播放）</h3>
    {{ if eq .MovieDetail.is_film "1"}}
        {{ range  .MovieDetail.kuyun }}
          <a title='在线播放' href="javascript:;" play-link ="{{ .play_link }}"  play-type="kuyun" class="lBtn">
              在线播放{{.episode}}
          </a>
        {{ end }}

        {{ else }}

        {{ range  .MovieDetail.kuyun }}
        <a title='剧集' href="javascript:;"  play-link ="{{ .play_link }}"  play-type="kuyun" class="lBtn">
            第{{ .episode }}集
        </a>
        {{ end }}

    {{ end }}
</div>

<div class="widget box row">
    <h3>播放地址 ckm3u8（无需安装插件，游览器需支持flash！）</h3>
    {{ if eq .MovieDetail.is_film "1"}}
        {{ range  .MovieDetail.ckm3u8 }}
            <a title='在线播放' href="javascript:;"  play-link ="{{ .play_link }}"  play-type="m3u8" class="lBtn">
                在线播放{{.episode}}
            </a>
        {{ end }}

    {{ else }}

        {{ range  .MovieDetail.ckm3u8 }}
            <a title='剧集' href="javascript:;" play-link ="{{ .play_link }}"  play-type="m3u8" class="lBtn">
                第{{ .episode }}集
            </a>
        {{ end }}

    {{ end }}
</div>

<div class="widget box row">
    <h3>播放地址 MP4（无需安装插件，可下载）</h3>
    {{ if eq .MovieDetail.is_film "1"}}
        {{ range  .MovieDetail.download }}
            <a title='在线播放' href="javascript:;" play-link ="{{ .play_link }}"  play-type="mp4" class="lBtn">
                在线播放{{.episode}}
            </a>
        {{ end }}

    {{ else }}

        {{ range  .MovieDetail.download }}
            <a title='剧集' href="javascript:;"  play-link ="{{ .play_link }}" play-type="mp4" class="lBtn">
                第{{ .episode }}集
            </a>
        {{ end }}

    {{ end }}
</div>

            </div>
		</div>

    	<div>

	</div>

  </div>
    </div>




</body>

{{ template "footer.html" . }}

<script>
    $('.lBtn').on('click', function(){
        let play_url = $(this).attr("play-link");
        let play_type = $(this).attr("play-type");
        layer.open({
            type: 2,
            title: $('.info-name').text() + " " + $(this).text(),
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area :  ['100%', '100%'],
            content: '/play?play_url=' + play_url + '&play_type=' + play_type
            // content: play_url
        });
    });
</script>

</html>

{{ end }}
