{{ define "nav.html" }}
    <div class="mainmenus container" id="nav_b">
        <div class="mainmenu">
            <div class="topnav">
                <ul id="menus">
                    <li class="menu-item {{ if eq .nav_link "/" }} current_page_item {{ end }} "><a href="/">首页</a></li>

{{/*  有点意思  range 里面不能直接用     .nav_link，会被认为是 .categories下的成员。。。 一定得赋一个变量值 。。。。      */}}

                    {{ $variable := .nav_link }}
                    {{ range .categories }}
                        <li class="menu-item {{ if eq $variable .link }} current_page_item {{ end }} "><a href="/?cate={{ .link }}">{{ .name }}</a></li>
                    {{ end }}
                    <li class="menu-item {{ if eq .nav_link "/about" }} current_page_item {{ end }} "><a href="/about"> 关于 </a></li>
                </ul>
                <div id="select_menu">
                    <select onChange="document.location.href=this.options[this.selectedIndex].value;" id="select-menu-nav">
                        <option value="#">导航菜单</option>
                    {{ range .categories }}
                        <option   value="/?cate={{ .link }}">{{ .name }}</option>
                    {{ end }}
                    </select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{{ end }}