{{ define "search.html" }}

{{ template "header.html" . }}

<body class="custom-background">

<!---加载进度条---->
<script type="text/javascript">
jQuery(function(){
jQuery('#loading-one').empty().append('页面载入完毕.').parent().fadeOut('slow');
});
</script>
<div id="main_loading" onclick="javascript:turnoff('loading')">
  <p id="loading-one" onclick="javascript:turnoff('loading')">页面载入中...</p>
</div>
<script type="text/javascript">
//<![CDATA[
function turnoff(obj){
document.getElementById(obj).style.display="none";
}
//]]&gt;
</script>
<!---加载进度条---->

{{/*头 log*/}}
{{ template "body_head.html" . }}

{{/*导航栏*/}}
{{ template "nav.html" . }}


<div class="container">

    <div class="subsidiary row box">
        <div class="bulletin fourfifth"> <span class="sixth">站点公告：</span>
            <marquee class="fivesixth" direction="left" onmouseout="start();" onmouseover="stop();" scrollamount="2" scrolldelay="15;">
                <script src="/static/js/thea2.js"></script>
            </marquee>
        </div>
        <div class="bdshare_small fifth">
        </div>
    </div>


    {{ template "sidebar.html" . }}


    {{ template "main_left.html" . }}

	</div>

<div class="clear"></div>

</body>


{{ template "footer.html" . }}

{{/*<script>*/}}
{{/*    $(document).ready(function(){*/}}
{{/*        let start = 0;*/}}
{{/*        let stop = 14;*/}}

{{/*    });*/}}
{{/*</script>*/}}

</html>
{{ end }}
