@font-face {
	font-family: 'FontAwesome';
	src: url(../font/fontawesome-webfont-4.1.0.eot);
	src: url(../font/fontawesome-webfont.eot#iefix&v=4.1.0) format('embedded-opentype'), url(../font/fontawesome-webfont-4.1.0.woff) format('woff'), url(../font/fontawesome-webfont-4.1.0.ttf) format('truetype'), url(../font/fontawesome-webfont-4.1.0.svg#fontawesomeregular)format('svg');
	font-weight: normal;
	font-style: normal
}
.m_fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.m_pull-right {
	float: right
}
.m_pull-left {
	float: left
}
.fa.m_pull-left {
	margin-right: .3em
}
.fa.m_pull-right {
	margin-left: .3em
}
.m_fa-comments:before {
	content: "\f086"
}
.m_fa-comment-o:before {
	content: "\f0e5"
}
.m_fa-comments-o:before {
	content: "\f0e6"
}
.m_fa-smile-o:before {
	content: "\f118"
}
.m_fa-check-square-o:before {
	content: "\f046"
}

.m_fa {
	width: 16px;
	font-size: 1.23em;
	text-align: center
}
.m_muted {
	color: #999
}
a.m_muted:hover, a.m_muted:focus {
	color: gray
}
.m_input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
[class*="span"].m_pull-right, .row-fluid [class*="span"].m_pull-right {
	float: right
}
.m_btn {
	display: inline-block;
*display:inline;
*zoom:1;
	padding: 6px 12px 4px;
	margin-bottom: 0;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.m_btn[type="submit"] {
	height: 30px
}
.m_btn:hover, .btn:focus {
	text-decoration: none
}
.m_btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.m_btn.active, .m_btn:active {
	outline: 0
}
.m_btn.disabled, .m_btn[disabled] {
	cursor: default;
	opacity: .65;
	filter: alpha(opacity=65)
}
.m_btn-primary {
	color: #fff;
	background-color: #5fbaac
}
.m_btn-primary:hover, .m_btn-primary:focus, .m_btn-primary:active, .m_btn-primary.active, .m_btn-primary.disabled, .m_btn-primary[disabled] {
	color: #fff;
	background-color: #35d2ab
}
button.m_btn, input[type="submit"].m_btn {
*padding-top:3px;
*padding-bottom:3px;
}
button.m_btn::-moz-focus-inner, input[type="submit"].m_btn::-moz-focus-inner {
padding:0;
border:0
}
.pagination {
	padding: 20px 0 15px 0;
	background-color: #fff;
	text-align: center
}
.pagination ul {
	display: inline-block;
*display:inline;
*zoom:1;
	margin-left: 0;
	margin-bottom: 0
}
.pagination ul>li {
	display: inline
}
.pagination ul>li>a, .pagination ul>li>span {
	margin: 0 3px;
	float: left;
	padding: 4px 12px 3px;
	line-height: 20px;
	text-decoration: none;
	background-color: #eee;
	color: #666
}
.pagination ul>li>a:hover, .pagination ul>li>a:focus {
	background-color: #6fc299;
	color: #fff
}
.pagination ul>.active>a, .pagination ul>.active>span {
	background-color: #00a67c;
	color: #fff
}
.pagination ul>.active>a, .pagination ul>.active>span {
	cursor: default
}
.pagination ul>li>span, .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
	color: #999;
	background-color: transparent;
	cursor: default
}
.pagination2 {
	padding: 20px 0 15px 0;
	background-color: #fff;
	text-align: center
}
.pagination2 ul {
	display: inline-block;
*display:inline;
*zoom:1;
	margin-left: 0;
	margin-bottom: 0
}
.pagination2 ul>li {
	display: inline
}
.pagination2 ul>li>a, .pagination2 ul>li>span {
	margin: 0 3px;
	float: left;
	padding: 4px 12px 3px;
	line-height: 20px;
	text-decoration: none;
	background-color: #eee;
	color: #666
}
.pagination2 ul>li>a:hover, .pagination2 ul>li>a:focus {
	background-color: #6fc299;
	color: #fff
}
.pagination2 ul>.active>a, .pagination2 ul>.active>span {
	background-color: #00a67c;
	color: #fff
}
.pagination2 ul>.active>a, .pagination2 ul>.active>span {
	cursor: default
}
.pagination2 ul>li>span, .pagination2 ul>.disabled>span, .pagination2 ul>.disabled>a, .pagination2 ul>.disabled>a:hover, .pagination2 ul>.disabled>a:focus {
	color: #999;
	background-color: transparent;
	cursor: default
}
.ias_trigger {
	padding-top: 4px
}
.ias_trigger a {
	background-color: #11a99b;
	display: block;
	line-height: 35px;
	text-align: center;
	color: #eee
}
.ias_trigger a:hover {
	background-color: #00a67c;
	color: #fff
}
.pagination-loading {
	text-align: center;
	color: #666;
	line-height: 39px
}
.m_commentnav {
	overflow: hidden;
	text-align: center;
	padding: 20px
}
.m_commentnav a, .m_commentnav .m_current, .m_commentnav .m_page-numbers {
	padding: 4px 12px 3px;
	color: #666;
	display: inline-block;
	background-color: #eee;
	margin: 0 1px
}
.m_commentnav .m_current {
	background-color: #00a67c;
	color: #fff
}
.m_commentnav a:hover {
	background-color: #6fc299;
	color: #fff
}

.m_btn .m_label, .m_btn .m_badge {
	position: relative;
	top: -1px
}

.m_pull-right {
	float: right
}
.m_pull-left {
	float: left
}
.m_hide {
	display: none
}
.m_show {
	display: block
}

.m_c-main:before, .m_d_comment div.m_muted:before {
	content: '';
	display: inline-block;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid #eee;
	position: absolute;
	top: 15px;
	left: -9px
}
.m_c-main:after, .m_d_comment div.m_muted:after {
	content: '';
	display: inline-block;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #fbfdfb;
	position: absolute;
	top: 17px;
	left: -7px
}
#m_postcomments {
	position: relative;
	background-color: #fff
}
#m_respond {
	position: relative;
	background-color: #fff
}
#m_respond .m_base-tit {
	display: none
}
.m_comment #m_respond {
	margin: 10px 0 0;
	padding: 0;
	border: 1px solid #ddd
}
.m_commentnew {
	background-color: #dff0d8
}
.m_commentnew .m_c-main {
	margin-bottom: 5px
}
.m_comment {
	padding: 12px 0 10px 0
}
.m_commentlist {
	padding: 12px 20px 0 20px
}
.m_c-avatar .m_avatar {
	position: absolute;
	width: 54px;
	height: 54px;
	border-radius: 2px;
	webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-webkit-transition: all .3s ease-out
}
.m_c-main {
	padding: 10px 15px;
	line-height: 25px;
	margin-top: -2px;
	margin-left: 72px;
	border-radius: 3px;
	position: relative;
	background: #fbfdfb;
	border: 1px #eee solid;
	font-size: 15px;
	word-wrap: break-word
}
.m_c-meta {
	color: #bbb;
	font-size: 14px
}
.m_c-author {
	margin-right: 10px
}
.m_comment-reply-link {
	margin-left: 6px;
	color: #00a67c
}
.m_comment-reply-link:hover {
	color: #d9534f
}
.m_children .m_comment {
	padding: 12px 0 0 10px;
	margin: 10px 0 0 60px
}
.m_children .m_c-main p {
	margin-right: 0
}
.m_children .m_c-meta {
	padding-top: 1px
}
.m_c-floor {
	float: right;
	font-size: 18px;
	color: #ddd
}
.m_comment:hover .m_c-floor {
	color: #999
}
.m_c-approved {
	border-radius: 2px;
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	color: #999;
	display: inline-block;
	padding: 1px 5px;
	margin-top: 4px
}
.m_wp-smiley {
	margin: 0 !important;
	display: inline-block !important
}
#m_comments {
	font-size: 15px;
	padding: 12px 20px;
	line-height: 14px;
	color: #5fbaac;
	font-weight: normal;
	border-bottom: 1px solid #dbece8
}
#m_comments b {
	font-weight: normal;
	font-size: 13px
}
#m_commentform {
	margin-bottom: 0
}
.m_comt-title {
	overflow: hidden;
	padding: 12px 20px;
	background-color: #f7f7f7
}
.m_comt-count {
	float: right;
	color: #999;
	margin-bottom: 5px
}
.m_comt {
	padding: 20px 20px 5px 20px;
	position: relative
}
.m_comt-avatar {
	height: 28px !important;
	width: 28px
}
.m_comt-avatar img {
	border-radius: 2px;
	opacity: .9;
	height: 28px !important;
	width: 28px !important
}
.m_comt-author {
	margin: 5px 10px 0 10px;
	font-size: 16px;
	color: #666
}
.m_comt-author span {
	color: #bbb;
	margin-left: 10px
}
.m_comt-box {
	overflow: hidden
}
.m_comt-area {
	margin-bottom: 5px
}
.m_comt-ctrl {
	position: relative;
	overflow: hidden
}
.m_comt-addsmilies, .m_comt-addcode {
	float: left;
	color: #999;
	padding: 0 10px 0 10px
}
.m_comt-addsmilies:hover, .m_comt-addcode:hover {
	color: #666
}
.m_comt-mailme {
	display: none
}
#m_comment {
*width:98.3%;
}
.m_comt-smilie {
	cursor: pointer;
	margin-top: 2px;
	display: inline-block
}
.m_comt-smilie:hover {
	color: #666
}
#m_comment-smilies {
	background-color: #eee;
	padding: 3px 5px;
	float: left;
	position: relative;
	line-height: 0
}
#m_comment-smilies img {
	display: inline-block;
	padding: 3px;
	cursor: pointer
}
#m_comment-smilies::after {
	position: absolute;
	top: -5px;
	left: 20px;
	width: 0;
	height: 0;
	vertical-align: top;
	border-bottom: 5px solid #eee;
	border-right: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	content: ""
}
.m_comt-smilie i, .m_btn-primary i {
	vertical-align: middle
}
.m_comt-smilie, .m_btn-primary {
	font-size: 15px;
	height: 36px !important
}
.m_comt-ctrl .m_popover {
	width: 219px
}
.m_comt-ctrl .m_popover-content {
	padding: 2px 0 2px 1px
}
.m_comt-ctrl .m_popover-content a {
	margin: -1px -1px 0 0;
	float: left;
	width: 16px;
	height: 16px;
	padding: 5px;
	line-height: 0;
	display: inline-block;
	border: solid 1px #eee
}
.m_comt-ctrl .m_popover-content a img {
	display: block
}
.m_comt-ctrl label {
	margin: 0 5px
}
.m_comt-ctrl label input {
	margin-right: 4px
}
.m_comt-tips {
	text-align: right;
	line-height: 30px;
	margin-right: 10px;
	color: #999
}
.m_comt-error {
	color: #d9534f
}
#m_loading {
	padding: 5px 0
}
#m_loading img {
	margin-right: 5px;
	vertical-align: middle
}
#m_error {
	padding: 5px 0;
	color: #c00
}
.m_ajax-notice {
	color: #f60;
	font-size: 12px
}
.m_comt-submit {
	position: absolute;
	right: -1px;
	top: -1px;
	border: solid 1px #ddd;
	padding: 0 30px;
	height: 34px;
	width: 120px;
	cursor: pointer;
	font-weight: bold;
	color: #666;
	border-radius: 0 0 3px 0;
	background-image: -webkit-linear-gradient(#fbfbfb, #f6f6f6);
	text-shadow: 0 -1px 0 #fff
}
.m_comt-submit:hover {
	color: #444;
	border-color: #d6d6d6;
	background-image: -webkit-linear-gradient(#f6f6f6, #eee)
}
.m_comt-submit:active {
	border-color: #c6c6c6;
	box-shadow: inset 0 2px 2px #e6e6e6
}
.m_comt-comterinfo {
	padding: 20px 0 0 210px;
	color: #444;
	display: none;
	position:relative;
}
.m_comt-comterinfo h4 {
	float: left;
	width: 190px;
	position:absolute;
	top:40%;
	left:0px;
	text-align: right;
	_display: inline
}

.m_comt-comterinfo .m_nick {
	display:none;
}

.m_comt-comterinfo ul {
	border-left: dotted 1px #ccc;
	padding-left: 30px
}
.m_comt-comterinfo li {
	margin-bottom: 10px
}
.m_comt-comterinfo input {
	margin-right: 10px;
	position: relative;
*bottom:-3px;
}
#m_cancel-comment-reply-link {
	display: none;
	color: #bbb;
	margin: -12px -20px;
	line-height: 28px;
	font-size: 14px;
	padding: 12px 20px
}
#m_cancel-comment-reply-link:hover {
	background-color: #999;
	color: #fff
}
.m_comment #cancel-comment-reply-link {
	display: block
}

.m_comt-comterinfo h4 {
	float: none;
	width: 100%;
	margin-left: 0;
	line-height: 20px;
	text-align: left;
}
.m_comt-comterinfo ul input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 30px;
}
.m_comt-comterinfo input, .m_comt-comterinfo textarea, .m_comt-comterinfo .uneditable-input {
	width: 206px;
}
.m_comt-comterinfo  .m_chkbox {
	width:5%;
	min-height: 16px;
	margin:0;
	padding:0;
}

@media(max-width:767px) {
.m_muted i {
	margin-top: -1px
}
.m_post-comments {
	display: none
}
.m_c-avatar .m_avatar {
	width: 24px;
	height: 24px
}
.m_children .m_comment {
	margin: 10px 0 0 10px
}
.m_c-main {
	padding: 5px 5px;
	line-height: 20px;
	margin-left: 35px;
	font-size: 12px
}
.m_c-main:before, .m_d_comment div.m_muted:before {
	top: 5px
}
.m_c-main:after, .m_d_comment div.m_muted:after {
	top: 7px
}
.m_url {
	font-size: 12px
}

.m_comt-comterinfo {
	padding: 20px 0 0 0px;
}

.m_comt-comterinfo h4 {
	display:none;
}

.m_comt-comterinfo ul {
	border-left: 0px;
}

.m_comt-comterinfo input, .m_comt-comterinfo textarea, .m_comt-comterinfo .uneditable-input {
	width: 100%;
}

.m_help-inline {
	display:none;
}
.nomember{
	display:inline;
}

}


#postcomments {
position: relative;
background-color: #fff;
}

textarea:hover, input:hover, textarea:focus, input:focus {
border-color: #999;
}


textarea, input {
background-color: #fff;
border: 1px solid #d9d9d9;
border-top-color: silver;
border-left-color: #d0d0d0;
-webkit-transition: border linear .2s;
-moz-transition: border linear .2s;
transition: border linear .2s;
}

select, textarea, input {
display: inline-block;
height: 20px;
padding: 5px 6px 3px;
margin-bottom: 10px;
line-height: 20px;
color: #555;
border-radius: 0;
vertical-align: middle;
}

textarea {
height: auto;
}
#content i, #content em, #content var, #content dfn {
font-style: normal;
}

#comment-smilies {
background-color: #eee;
padding: 3px 5px;
float: left;
position: relative;
line-height: 0;
}

#comment-smilies::after {
position: absolute;
top: -5px;
left: 20px;
width: 0;
height: 0;
vertical-align: top;
border-bottom: 5px solid #eee;
border-right: 5px solid rgba(0,0,0,0);
border-left: 5px solid rgba(0,0,0,0);
content: "";
}

#comment-smilies img {
display: inline-block;
padding: 3px;
cursor: pointer;
}



#comments {
font-size: 15px;
padding: 12px 20px;
line-height: 14px;
color: #5fbaac;
font-weight: normal;
border-bottom: 1px solid #dbece8;
}

textarea, input {
background-color: #fff;
border: 1px solid #d9d9d9;
border-top-color: silver;
border-left-color: #d0d0d0;
-webkit-transition: border linear .2s;
-moz-transition: border linear .2s;
transition: border linear .2s;
}

.m_comt-tips img{
	max-width: 100%;
width: auto\9;
height: auto;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
	}