{{define "detail"}}

{{template "head" .}}

<body style="padding: 0;">

{{template "nav" .}}

    <div class="container">
        <div class="row">     
            <div class="col-lg-wide-75 col-xs-1">	
            	<!-- 详细信息-->
            	<div class="stui-pannel stui-pannel-bg clearfix">

            	    <img id="hth" onclick="window.open('/statics/js/hth906.html')" src="static2/picture/CKwRIJIFNfNoAARL6wDqm2pW.png" width="100%">

				    <div class="v_path clearfix">当前位置： <a href='index.html'>首页</a>&nbsp;&nbsp;</div>

					<div class="stui-pannel-box">
						
						<div class="stui-content__thumb">									
							<a class="stui-vodlist__thumb picture v-thumb" href="javascript:;" title="鱿鱼游戏">
								<img class="lazyload" src="static2/picture/e762f459c989ee069f7f2101c14e6b15.jpg" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210917-1/e762f459c989ee069f7f2101c14e6b15.jpg">
								<span class="play active hidden-xs"></span>
<!--								<span class="pic-text text-right"></span>-->
							</a>										
						</div>
						<div class="stui-content__detail">
							<h1 class="title">鱿鱼游戏</h1>	
							<p class="data">
								<span class="text-muted">类型：</span><a href='index15.html'>日韩剧</a>
								<span class="split-line"></span>
								<span class="text-muted hidden-xs">地区：</span>韩国								<span class="split-line"></span>
								<span class="text-muted hidden-xs">年份：</span>2021								
							</p>
							<p class="data"><span class="text-muted">主演：</span><a href="javascript:;" target="_blank">李政宰</a>&nbsp;<a href="javascript:;" target="_blank">朴海秀</a>&nbsp;<a href="javascript:;" target="_blank">孔刘</a>&nbsp;<a href="javascript:;" target="_blank">许成泰</a>&nbsp;<a href="javascript:;" target="_blank">魏化俊</a>&nbsp;</p>
							<p class="data"><span class="text-muted">导演：</span><a href="javascript:;" target="_blank">黄东赫</a>&nbsp;</p>
							<p class="data hidden-sm"><span class="text-muted">更新：</span>2021-09-23</p>														
							<p class="data hidden-sm">
								<span class="left text-muted">简介：</span>
								<span class="detail-sketch">　　Netflix |《鱿鱼游戏》 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &</span>
								<span class="detail-content" style="display: none;">欢迎在线观看由李政宰,朴海秀,孔刘,许成泰,魏化俊主演日韩剧的《鱿鱼游戏》，真不卡影院第一时间为你提供《鱿鱼游戏》，如果你喜欢《鱿鱼游戏》请把它分享给的朋友，有您们的支持我们会做的更好。祝你观片愉快！剧情简介:　　Netflix |《鱿鱼游戏》 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　「一切只是一场游戏。」 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　456 位参赛者，456 亿元奖金 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　赌上自己的命，玩小孩玩的游戏 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　《鱿鱼游戏》将于9月17日Netflix 独家上线。</span>
								<a class="detail-more" href="javascript:;">详情 <i class="icon iconfont icon-moreunfold"></i></a>
							</p>							    
							<div class="play-btn clearfix">
								<a rel="nofollow" class="btn btn-primary" rel="nofollow" href="javascript:;">立即播放</a>
						
														</div>
						</div>
						<!--<br><img id="dw118" onclick="alert('端午安康 祝您观影愉快！')" src="https://bj.bcebos.com/im-cs/51978b44674713bc3ecf7b4ef710a773.png" width="100%" >-->
					</div>
				</div>	
				<!-- end 详细信息-->
				
				<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box b playlist mb">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head bottom-line active clearfix">
				<span class="more text-muted pull-right"><font color="#FF0000">蓝光独家压制/如遇卡死黑屏等待修复！</font> </span>
				<h3 class="title">
					<img src="static2/picture/icon_30.png">
					不卡超清[推荐]				</h3>
			</div>
		</div>
		<div class="stui-pannel_bd col-pd clearfix">
			<ul class="stui-content__playlist clearfix">
								<li><a href="./play.html">第01集</a></li>
								<li><a href="javascript:;">第02集</a></li>
								<li><a href="javascript:;">第03集</a></li>
								<li><a href="javascript:;">第04集</a></li>
								<li><a href="javascript:;">第05集</a></li>
								<li><a href="javascript:;">第06集</a></li>
								<li><a href="javascript:;">第07集</a></li>
								<li><a href="javascript:;">第08集</a></li>
								<li><a href="javascript:;">第09集</a></li>
							</ul>
		</div>
	</div>
</div>
<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box b playlist mb">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head bottom-line active clearfix">
				<span class="more text-muted pull-right">海外线路，非不卡独家，超级卡！</span>
				<h3 class="title">
					<img src="static2/picture/icon_30.png">
					资源备用[不推荐]				</h3>
			</div>
		</div>
		<div class="stui-pannel_bd col-pd clearfix">
			<ul class="stui-content__playlist clearfix">
								<li><a href="javascript:;">第01集</a></li>
								<li><a href="javascript:;">第02集</a></li>
								<li><a href="javascript:;">第03集</a></li>
								<li><a href="javascript:;">第04集</a></li>
								<li><a href="javascript:;">第05集</a></li>
								<li><a href="javascript:;">第06集</a></li>
								<li><a href="javascript:;">第07集</a></li>
								<li><a href="javascript:;">第08集</a></li>
								<li><a href="javascript:;">第09集</a></li>
							</ul>
		</div>
	</div>
</div>
<!-- 播放地址-->


			</div>				

        </div>
    </div>

{{template "footer" .}}
</body>
</html>
{{end}}