<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="applicable-device" content="pc,mobile">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<title>真不卡影院_我不卡影院 - 真正不卡的超清电影网站</title>
	<meta name="keywords" content="真不卡电影网,我不卡影院,不卡的电影网,超清蓝光在线">
	<meta name="description" content="真不卡影院(www.zhenbuka.vip)搜集最新电影、高清电影、超清蓝光电影等视频免费分享给大家在线观看，真不卡影院是一个真正我不卡的电影网站。">

	<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="static/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="static/css/stui_block.css" type="text/css">
	<link rel="stylesheet" href="static/css/stui_block_color.css" type="text/css">
	<link rel="stylesheet" href="static/css/stui_default.css" type="text/css">
	<script src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"
			type="application/javascript"></script>
	<script type="text/javascript" src="static/js/stui_default.js"></script>
	<script type="text/javascript" src="static/js/stui_block.js"></script>
	<script type="text/javascript" src="static/js/home.js"></script>
	<script type="text/javascript" src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/layer/3.1.1/layer.min.js"></script>
	<script>var maccms = {
		"path": "",
		"mid": "",
		"url": "www.zhenbuka3.com",
		"wapurl": "www.zhenbuka3.com",
		"mob_status": "0"
	};</script>
	<script>function onSubmit(token) {
		document.getElementById("search").submit()
	}</script>
	<!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--  <script type="text/javascript" src="static/js/history.js"></script>-->
	<!--  <script src="http://www.zhenbuka3.com/statics/js/toastr/jquery.toast.js"></script>-->
	<!--  <link rel="stylesheet" href="http://www.zhenbuka3.com/statics/js/toastr/jquery.toast.css">-->
	<style type="text/css">
		.stui-header__top {
			/*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);*/
			background: #292838;
		}

		.stui-header__top.headroom--not-top {
			background: #292838;
		}
	</style>
	<!--<style>html{overflow-y:scroll;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter:grayscale(100%)}</style>-->
</head>
<body style="padding: 0;">

<div class="tncode" style="text-align: center;margin: 30px auto;display:none;">
	开始验证
</div>
<script type="text/javascript" src="static/js/tn_code.js"></script>
<script type="text/javascript">
	//document.getElementByClassName('tncode').click();

	$TN.onsuccess(function () {
		//验证通过
		doRealSearch();
	});
</script>
<link rel="stylesheet" type="text/css" href="static/css/style.css">


<!--搜索验证码↑-->
<header class="stui-header__top clearfix" id="header-top">
	<div class="container">
		<div class="row">
			<div class="stui-header_bd clearfix">
				<div class="stui-header__logo">
					<a class="logo" href="./index.html"></a>
				</div>
				<ul class="stui-header__menu">
					<li><a href="">首页</a></li>
					<li class="hidden-xs"><a href="index1.html">电影</a></li>
					<li class="hidden-xs"><a href="index2.html">剧集</a></li>
					<li class="hidden-xs"><a href="index3.html">综艺</a></li>
					<li class="hidden-xs"><a href="index4.html">动漫</a></li>
					<li class="hidden-xs"><a href="index5.html">专题</a></li>
					<li>
						<a href="javascript:;">导航 <i class="icon iconfont icon-moreunfold"></i></a>
						<ul class="dropdown">
							<li><a href="index1.html">电影</a></li>
							<li><a href="index2.html">剧集</a></li>
							<li><a href="index3.html">综艺</a></li>
							<li><a href="index4.html">动漫</a></li>
							<li><a href="index6.html">动作片</a></li>
							<li><a href="index7.html">喜剧片</a></li>
							<li><a href="index8.html">爱情片</a></li>
							<li><a href="index9.html">科幻片</a></li>
							<li><a href="index10.html">恐怖片</a></li>
							<li><a href="index11.html">剧情片</a></li>
							<li><a href="index12.html">战争片</a></li>
							<li><a href="index13.html">国产剧</a></li>
							<li><a href="index14.html">港台剧</a></li>
							<li><a href="index15.html">日韩剧</a></li>
							<li><a href="index16.html">欧美剧</a></li>
							<li><a href="index17.html">海外剧</a></li>
							<li><a href="index5.html">专题</a></li>
							<li><a href="index18.html">关于</a></li>
						</ul>
					</li>
				</ul>

				<script type="text/javascript" src="static/js/jquery.autocomplete.js"></script>
				<div class="stui-header__search">
					<form id="search" name="search" method="get" action="/vodsearch/-------------/">
						<input type="text" id="wd" name="wd" class="mac_wd form-control" value=""
							   placeholder="今日更新5部视频">
						<button class="submit" id="searchbutton" type="submit" name="submit"><i
								class="icon iconfont icon-search"></i></button>
					</form>
					<script type="text/javascript">
						function doRealSearch() {
							location.href = '/vodsearch/-------------/?wd=' + $('#wd').val();

						}

						$('#search').submit(function (event) {
							event.preventDefault();
							if ($.cookie('vodSearchNeedVerify')) {
								//弹出验证码
								$('.tncode').click();
							} else {
								//真的搜索
								doRealSearch();
							}

						});
					</script>


					<a rel="nofollow" class="search-close visible-xs" href="javascript:;"><i
							class="icon iconfont icon-close"></i></a>
				</div>


				<ul class="stui-header__user">
					<li class="visible-xs">
						<a rel="nofollow" class="open-search" href="javascript:;"> <i
								class="icon iconfont icon-search"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<script type="text/javascript">

	$(".stui-header__user li,.stui-header__menu li").click(function () {
		$(this).find(".dropdown").toggle();
	});
	$(".open-search").click(function () {
		var Seacrh = $(".stui-header__search");
		Seacrh.addClass("active").siblings().hide();
		Seacrh.find(".form-control").focus();
		$(".search-close").click(function () {
			Seacrh.removeClass("active").siblings().show();
		});
	});
</script>


    <div class="container">
        <div class="row">     
            <div class="col-lg-wide-75 col-xs-1">	
            	<!-- 详细信息-->
            	<div class="stui-pannel stui-pannel-bg clearfix">
            	    <!-- 广告信息-->
            	    <!--<script type="text/javascript" src="/gg/9d.js?"></script>-->
            	    <!--https://yzf.qq.com/fsna/kf-file/kf_pic/20210401/KFPIC_1218208844_WXIMAGE_7496a494f7734a32a25906a73a064053.gif-->
            	    <img id="hth" onclick="window.open('/statics/js/hth906.html')" src="static/picture/CKwRIJIFNfNoAARL6wDqm2pW.png" width="100%">
            	    <!-- End 广告信息-->
				    <div class="v_path clearfix">当前位置： <a href='index.html'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='index15.html'>日韩剧</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href=''>鱿鱼游戏</a></div>

					<div class="stui-pannel-box">
						
						<div class="stui-content__thumb">									
							<a class="stui-vodlist__thumb picture v-thumb" href="javascript:;" title="鱿鱼游戏">
								<img class="lazyload" src="static/picture/e762f459c989ee069f7f2101c14e6b15.jpg" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210917-1/e762f459c989ee069f7f2101c14e6b15.jpg">
								<span class="play active hidden-xs"></span>
<!--								<span class="pic-text text-right"></span>-->
							</a>										
						</div>
						<div class="stui-content__detail">
							<h1 class="title">鱿鱼游戏</h1>	
							<p class="data">
								<span class="text-muted">类型：</span><a href='index15.html'>日韩剧</a>
								<span class="split-line"></span>
								<span class="text-muted hidden-xs">地区：</span>韩国								<span class="split-line"></span>
								<span class="text-muted hidden-xs">年份：</span>2021								
							</p>
							<p class="data"><span class="text-muted">主演：</span><a href="javascript:;" target="_blank">李政宰</a>&nbsp;<a href="javascript:;" target="_blank">朴海秀</a>&nbsp;<a href="javascript:;" target="_blank">孔刘</a>&nbsp;<a href="javascript:;" target="_blank">许成泰</a>&nbsp;<a href="javascript:;" target="_blank">魏化俊</a>&nbsp;</p>
							<p class="data"><span class="text-muted">导演：</span><a href="javascript:;" target="_blank">黄东赫</a>&nbsp;</p>
							<p class="data hidden-sm"><span class="text-muted">更新：</span>2021-09-23</p>														
							<p class="data hidden-sm">
								<span class="left text-muted">简介：</span>
								<span class="detail-sketch">　　Netflix |《鱿鱼游戏》 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &</span>
								<span class="detail-content" style="display: none;">欢迎在线观看由李政宰,朴海秀,孔刘,许成泰,魏化俊主演日韩剧的《鱿鱼游戏》，真不卡影院第一时间为你提供《鱿鱼游戏》，如果你喜欢《鱿鱼游戏》请把它分享给的朋友，有您们的支持我们会做的更好。祝你观片愉快！剧情简介:　　Netflix |《鱿鱼游戏》 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　「一切只是一场游戏。」 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　456 位参赛者，456 亿元奖金 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　赌上自己的命，玩小孩玩的游戏 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;　　《鱿鱼游戏》将于9月17日Netflix 独家上线。</span>
								<a class="detail-more" href="javascript:;">详情 <i class="icon iconfont icon-moreunfold"></i></a>
							</p>							    
							<div class="play-btn clearfix">
								<a rel="nofollow" class="btn btn-primary" rel="nofollow" href="javascript:;">立即播放</a>
						
														</div>
						</div>
						<!--<br><img id="dw118" onclick="alert('端午安康 祝您观影愉快！')" src="https://bj.bcebos.com/im-cs/51978b44674713bc3ecf7b4ef710a773.png" width="100%" >-->
					</div>
				</div>	
				<!-- end 详细信息-->
				
				<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box b playlist mb">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head bottom-line active clearfix">
				<span class="more text-muted pull-right"><font color="#FF0000">蓝光独家压制/如遇卡死黑屏等待修复！</font> </span>
				<h3 class="title">
					<img src="static/picture/icon_30.png">
					不卡超清[推荐]				</h3>
			</div>
		</div>
		<div class="stui-pannel_bd col-pd clearfix">
			<ul class="stui-content__playlist clearfix">
								<li><a href="./play.html">第01集</a></li>
								<li><a href="javascript:;">第02集</a></li>
								<li><a href="javascript:;">第03集</a></li>
								<li><a href="javascript:;">第04集</a></li>
								<li><a href="javascript:;">第05集</a></li>
								<li><a href="javascript:;">第06集</a></li>
								<li><a href="javascript:;">第07集</a></li>
								<li><a href="javascript:;">第08集</a></li>
								<li><a href="javascript:;">第09集</a></li>
							</ul>
		</div>
	</div>
</div>
<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box b playlist mb">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head bottom-line active clearfix">
				<span class="more text-muted pull-right">海外线路，非不卡独家，超级卡！</span>
				<h3 class="title">
					<img src="static/picture/icon_30.png">
					资源备用[不推荐]				</h3>
			</div>
		</div>
		<div class="stui-pannel_bd col-pd clearfix">
			<ul class="stui-content__playlist clearfix">
								<li><a href="javascript:;">第01集</a></li>
								<li><a href="javascript:;">第02集</a></li>
								<li><a href="javascript:;">第03集</a></li>
								<li><a href="javascript:;">第04集</a></li>
								<li><a href="javascript:;">第05集</a></li>
								<li><a href="javascript:;">第06集</a></li>
								<li><a href="javascript:;">第07集</a></li>
								<li><a href="javascript:;">第08集</a></li>
								<li><a href="javascript:;">第09集</a></li>
							</ul>
		</div>
	</div>
</div>
<!-- 播放地址-->
				<!--<br><img id="dw118" onclick="alert('端午安康 祝您观影愉快！')" src="https://bj.bcebos.com/im-cs/51978b44674713bc3ecf7b4ef710a773.png" width="100%" >-->
				<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head clearfix">
				<h3 class="title">
					<img src="static/picture/icon_6.png" alt="喜欢鱿鱼游戏的影迷同时还喜欢">
					为你推荐
				</h3>						
			</div>																		
		</div>
		<div class="stui-pannel_bd">
			<ul class="stui-vodlist__bd clearfix">
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="index88.html" title="国家代表老婆" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20211006-1/2535e80819b55fee4d2cfbae91b66a52.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至8集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="index88.html" title="国家代表老婆">国家代表老婆</a></h4>
		<p class="text text-overflow text-muted hidden-xs">韩多感,韩相镇,沈智浩,申贤德,吴秀敏,金佳兰,韩正宇,尹多英,郑宝美,金在仁</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="index89.html" title="红皮鞋" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210705-1/590414955c6b833f8069a710bc2519c2.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">共100集,更新至60集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="index89.html" title="红皮鞋">红皮鞋</a></h4>
		<p class="text text-overflow text-muted hidden-xs">崔明吉,苏怡贤,朴胤载,申政允,郑侑敏,金有硕韩仁守,鲜于在德,杨琴实,潘晓静,朴赞焕,金利媛</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="index90.html" title="心灵闪耀的瞬间" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20211014-1/576e3e70128e918047dfd58b00865d11.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至3集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="index90.html" title="心灵闪耀的瞬间">心灵闪耀的瞬间</a></h4>
		<p class="text text-overflow text-muted hidden-xs">崔智秀,오재웅,吴在雄,郑秀彬,申素贤</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="index98.html" title="即便如此你仍会发誓爱我吗?" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20211005-1/f448dd009e3c7186585724cd86c83cf2.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至2集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="index98.html" title="即便如此你仍会发誓爱我吗?">即便如此你仍会发誓爱我吗?</a></h4>
		<p class="text text-overflow text-muted hidden-xs">池内博之</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="第二任丈夫" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210810-1/04346abb8ff6d07dfd316ed6f43c3c45.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至43集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="第二任丈夫">第二任丈夫</a></h4>
		<p class="text text-overflow text-muted hidden-xs">严贤京,车瑞元,韩基雄,池秀媛,千艺瑟,金成熙,姜允,吴丞芽</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="非主角的女友" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20211014-1/80b5210ca854a6f25cb9aeff0c2bfa31.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至1集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="非主角的女友">非主角的女友</a></h4>
		<p class="text text-overflow text-muted hidden-xs">滨田岳,山下美月</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="请融化我" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20200313-7/263b38d574200794e67de42516e815d9.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至12集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="请融化我">请融化我</a></h4>
		<p class="text text-overflow text-muted hidden-xs">池昌旭,元真儿,尹世雅,林元熙,金元海,沈亨倬,全秀景,崔普闵,尹石花,,郑海钧,吉海妍,徐正妍,徐贤哲,朴熙真,吴荷妮,吴雅琳,李茂生,尹那武</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="世界上最美丽的我的女儿" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20200313-17/7d5984f9197279689988e9f6d99ec765.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至31集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="世界上最美丽的我的女儿">世界上最美丽的我的女儿</a></h4>
		<p class="text text-overflow text-muted hidden-xs">柳善,金素妍,金夏景,洪宗玄,奇太映</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3 hidden-sm">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="这是恋爱!不良少年与白手杖女孩" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20211007-1/1d6b758f146e6d575d33798e34a24eed.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至2集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="这是恋爱!不良少年与白手杖女孩">这是恋爱!不良少年与白手杖女孩</a></h4>
		<p class="text text-overflow text-muted hidden-xs">杉咲花,杉野遥亮</p>
	</div>												
</div>															
				</li>			
								<li class="col-md-5 col-sm-4 col-xs-3 hidden-sm hidden-xs">
					<div class="stui-vodlist__box stui-vodlist__bg">
	<a class="stui-vodlist__thumb lazyload" href="javascript:;" title="故乡" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210923-1/27b0b8c8f585f821f6351cb9446f7232.jpg">						
		<span class="play hidden-xs"></span>		
		<span class="pic-text text-right">更新至7集</span>
	</a>									
	<div class="stui-vodlist__detail active">
		<h4 class="title text-overflow"><a href="javascript:;" title="故乡">故乡</a></h4>
		<p class="text text-overflow text-muted hidden-xs">刘在明,韩艺璃,严泰九</p>
	</div>												
</div>															
				</li>			
							</ul>		
		</div>			
	</div>						
</div><!-- 猜你喜欢-->	
				
				
			</div>				
			<div class="col-lg-wide-25 col-xs-1 stui-pannel-side hidden-sm hidden-xs">	
				<!--div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box clearfix">
		<div class="col-pd">
			<div class="text-center" style="padding: 45px 0; border: 1px solid #eee; border-radius: 5px;">
				<p id="qrcode2"></p>	
				<p>扫描二维码用手机观看</p>
			</div>
		</div>
		
	</div>
</div--><!-- 扫码-->
				<div class="stui-pannel stui-pannel-bg clearfix">
	<div class="stui-pannel-box">
		<div class="stui-pannel_hd">
			<div class="stui-pannel__head clearfix">
				<h3 class="title">
					<img src="static/picture/icon_12.png" alt="日韩剧热播排行榜">
					日韩剧热播排行榜
				</h3>						
			</div>																		
		</div>
		<div class="stui-pannel_bd">
			<ul class="stui-vodlist__media active col-pd clearfix">
									<li>
	<div class="thumb">
		<a class="m-thumb stui-vodlist__thumb lazyload" href="" title="鱿鱼游戏" data-original="https://pic.iqiyipic.com.hudonghezi.com/img/upload/vod/20210917-1/e762f459c989ee069f7f2101c14e6b15.jpg"></a>
	</div>
	<div class="detail detail-side">
		<h4 class="title"><a href=""><i class="icon iconfont icon-more text-muted pull-right"></i> 鱿鱼游戏</a></h4>
		<p class="font-12"><span class="text-muted">类型：</span>悬疑,惊悚，<span class="text-muted"><span class="text-muted">地区：</span>韩国</span></p>		
		<p class="font-12 margin-0"><span class="text-muted">主演：</span>李政宰,朴海秀,孔刘</p>
	</div>																										
</li>
							</ul>
			<ul class="stui-vodlist__text col-pd clearfix">
									<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="顶楼"><span class="text-muted pull-right">共21集,完结</span>	<em class="text-red">2 . </em>顶楼</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="窥探/Mouse"><span class="text-muted pull-right">更新至20集</span>	<em class="text-red">3 . </em>窥探/Mouse</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="文森佐"><span class="text-muted pull-right">共20集,完结</span>	<em class="text-red">4 . </em>文森佐</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="甜蜜家园"><span class="text-muted pull-right">10集全</span>	<em class="text-red">5 . </em>甜蜜家园</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="模范出租车"><span class="text-muted pull-right">共16集,完结</span>	<em class="text-red">6 . </em>模范出租车</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="爱的迫降"><span class="text-muted pull-right">16集全</span>	<em class="text-red">7 . </em>爱的迫降</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="弥留之国的爱丽丝"><span class="text-muted pull-right">共8集,完结</span>	<em class="text-red">8 . </em>弥留之国的爱丽丝</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="顶楼第二季"><span class="text-muted pull-right">共13集,完结</span>	<em class="text-red">9 . </em>顶楼第二季</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="全裸导演"><span class="text-muted pull-right">8集全</span>	<em class="text-red">10 . </em>全裸导演</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="THEK2"><span class="text-muted pull-right">16集全</span>	<em class="text-red">11 . </em>THEK2</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="顶楼第三季"><span class="text-muted pull-right">共14集,完结</span>	<em class="text-red">12 . </em>顶楼第三季</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="迪迦奥特曼国语"><span class="text-muted pull-right">52集全</span>	<em class="text-red">13 . </em>迪迦奥特曼国语</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="大发不动产"><span class="text-muted pull-right">共16集,更新至</span>	<em class="text-red">14 . </em>大发不动产</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="孤单又灿烂的神：鬼怪"><span class="text-muted pull-right">16集全</span>	<em class="text-red">15 . </em>孤单又灿烂的神：鬼怪</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="回到十八岁"><span class="text-muted pull-right">16集全</span>	<em class="text-red">16 . </em>回到十八岁</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="哲仁王后"><span class="text-muted pull-right">20集全</span>	<em class="text-red">17 . </em>哲仁王后</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="月之酒店"><span class="text-muted pull-right">16集全</span>	<em class="text-red">18 . </em>月之酒店</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="我是大哥大"><span class="text-muted pull-right">完结</span>	<em class="text-red">19 . </em>我是大哥大</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="虽然是精神病但没关系"><span class="text-muted pull-right">16集全</span>	<em class="text-red">20 . </em>虽然是精神病但没关系</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="当你沉睡时"><span class="text-muted pull-right">完结</span>	<em class="text-red">21 . </em>当你沉睡时</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="大力女子都奉顺"><span class="text-muted pull-right">16集全</span>	<em class="text-red">22 . </em>大力女子都奉顺</a>
</li>	
										<li class="top-line-dot">
	<a class="text-overflow" href="javascript:;" title="邪恶之花"><span class="text-muted pull-right">16集全</span>	<em class="text-red">23 . </em>邪恶之花</a>
</li>	
								</ul>	
		</div>
	</div>
</div><!-- 热播-->
			</div>
        </div>
    </div>
	<div class="stui-foot clearfix">
	<div class="container">
		<div class="row">						
			<div class="col-pd text-center hidden-xs">
			<p>免责声明:真不卡影院所有视频均来自互联网收集而来，版权归原创者所有，如果侵犯了你的权益，请通知我们，我们会及时删除侵权内容，谢谢合作。</p>
			<p>版权声明:真不卡电影网是一个免费看电影非赢利性的网站，本站所有内容均来源于互联网相关站点自动搜索采集信息，相关链接已经注明来源。</p>			
			<p><span class="fontArial"></span>Copyright © 2021 · <a href="index.html">真不卡影院</a>  版权所有 · 版权反馈邮箱:<script>document.write(window.atob('emhlbmJ1a2F5eUBnbWFpbC5jb20='));</script></p>
			</div>								
			<p class="text-muted text-center visible-xs">Copyright © 2021 · 反馈邮箱:<script>document.write(window.atob('emhlbmJ1a2F5eUBnbWFpbC5jb20='));</script><br><br><br></p>
		</div>
	</div>
</div>
<ul class="stui-extra clearfix">
	<li>
		<a class="backtop" href="javascript:scroll(0,0)" style="display: none;"><i class="icon iconfont icon-less"></i></a>
	</li>

</ul>
<div class="hide">



</div>

</body>
</html>
