{{define "head"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <title>{{.MovieDetail.info.name}} GoMovies-电影-永久免费的福利超清影视站，没有套路，完全免费！- 最新电视剧,最新电影</title>
    <meta name="keywords" content="{{.MovieDetail.info.name}} 高清，在线观看">
    <meta name="description" content="{{.MovieDetail.info.name}} GoMovies-电影提供电影电视剧在线观看，免费高清高速电影电视剧在线观看。">

    <link rel="shortcut icon" href="static2/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static2/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="static2/css/stui_block.css" type="text/css">
    <link rel="stylesheet" href="static2/css/stui_block_color.css" type="text/css">
    <link rel="stylesheet" href="static2/css/stui_default.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="static2/css/style.css">

    <style type="text/css">
        .stui-header__top {
            background: #292838;
        }

        .stui-header__top.headroom--not-top {
            background: #292838;
        }
    </style>


    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
{{end}}