{{define "index"}}

{{template "head"}}

<body style="padding: 0;">

{{/* 注释 子模板后面的 . 一点要加上 否则将获取不到数据 */}}
{{template "nav" .}}

<div class="container">
    <div class="row">

        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head active bottom-line clearfix">
                        <a class="more text-muted pull-right" href="/display/?m=vod-type-id-1.html">更多<i
                                class="icon iconfont icon-more"></i></a>
                        <h3 class="title">
                            <img src="static2/picture/icon_1.png" alt="电影推荐">
                            <a href="/display/?m=vod-type-id-1.html">电影</a>
                        </h3>
                        <ul class="nav nav-text pull-right hidden-sm hidden-xs">
                            {{range $key, $value := .navFilm}}
                            <li><a href="/display{{$value.Link}}" class="text-muted">{{$value.Name}}</a> <span class="split-line"></span></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <div class="col-lg-wide-8 col-xs-1 padding-0">
                        <ul class="stui-vodlist clearfix">

                            <!--                            12 个 -->
                            {{range $key, $value := .newFilm}}
                            {{if ge $key 12}}
                            {{else}}
                            <li class="col-md-6 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box stui-vodlist__bg">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}">
                                        <span class="play hidden-xs"></span>
                                        <span class="pic-text text-right">1080P</span>
                                    </a>
                                    <div class="stui-vodlist__detail active">
                                        <h4 class="title text-overflow"><a href="/detail{{$value.Link}}" title="{{$value.Name}}">{{$value.Name}}</a>
                                        </h4>
                                        <p class="text text-overflow text-muted hidden-xs">{{$value.Starring}}</p>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                    </div>

                    <div class="col-lg-wide-2 hidden-md hidden-sm hidden-xs">
                        {{range $key, $value := .newFilm}}
                        {{if eq $key 0}}
                        <ul class="stui-vodlist__media active col-pd clearfix">
                            <li>
                                <div class="thumb">
                                    <a class="m-thumb stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}"></a>
                                </div>
                                <div class="detail detail-side">
                                    <h4 class="title"><a href="/detail{{$value.Link}}"><i
                                            class="icon iconfont icon-more text-muted pull-right"></i> {{$value.Name}}</a></h4>
                                    <p class="font-12">
                                        <span class="text-muted">类型：</span>{{$value.Category}}
                                    </p>
                                    <p class="font-12 margin-0"><span class="text-muted">主演：</span>{{$value.Starring}}</p>
                                </div>
                            </li>
                        </ul>
                        {{end}}
                        {{end}}


                        <ul class="stui-vodlist__text col-pd clearfix" style="padding-top: 0;">
                            {{range $key, $value := .newFilm}}
                            {{if gt $key 0}}
                            <li class="top-line-dot">
                                <a class="text-overflow" href="/detail{{$value.Link}}" title="{{$value.Name}}">
                                    <span class="text-muted pull-right"></span>
                                    <em class="text-red">{{add $key 1}} . </em>{{$value.Name}}</a>
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head active bottom-line clearfix">
                        <a class="more text-muted pull-right" href="/display/?m=vod-type-id-2.html">更多 <i
                                class="icon iconfont icon-more"></i></a>
                        <h3 class="title">
                            <img src="static2/picture/icon_2.png" alt="剧集推荐">
                            <a href="/display/?m=vod-type-id-2.html">剧集</a>
                        </h3>
                        <ul class="nav nav-text pull-right hidden-sm hidden-xs">
                            {{range $key, $value := .navTv}}
                            <li><a href="/display{{$value.Link}}" class="text-muted">{{$value.Name}}</a> <span class="split-line"></span></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <div class="col-lg-wide-8 col-xs-1 padding-0">
                        <ul class="stui-vodlist clearfix">
                            {{range $key, $value := .newTv}}
                            {{if ge $key 12}}
                            {{else}}
                            <li class="col-md-6 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box stui-vodlist__bg">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}">
                                        <span class="play hidden-xs"></span>
                                        <span class="pic-text text-right">1080P</span>
                                    </a>
                                    <div class="stui-vodlist__detail active">
                                        <h4 class="title text-overflow"><a href="/detail{{$value.Link}}" title="{{$value.Name}}">{{$value.Name}}</a>
                                        </h4>
                                        <p class="text text-overflow text-muted hidden-xs">{{$value.Starring}}</p>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                            {{end}}

                        </ul>
                    </div>

                    <div class="col-lg-wide-2 hidden-md hidden-sm hidden-xs">
                        {{range $key, $value := .newTv}}
                        {{if eq $key 0}}
                        <ul class="stui-vodlist__media active col-pd clearfix">
                            <li>
                                <div class="thumb">
                                    <a class="m-thumb stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}"></a>
                                </div>
                                <div class="detail detail-side">
                                    <h4 class="title"><a href="/detail{{$value.Link}}"><i
                                            class="icon iconfont icon-more text-muted pull-right"></i> {{$value.Name}}</a></h4>
                                    <p class="font-12">
                                        <span class="text-muted">类型：</span>{{$value.Category}}
                                    </p>
                                    <p class="font-12 margin-0"><span class="text-muted">主演：</span>{{$value.Starring}}</p>
                                </div>
                            </li>
                        </ul>
                        {{end}}
                        {{end}}

                        <ul class="stui-vodlist__text col-pd clearfix" style="padding-top: 0;">
                            {{range $key, $value := .newTv}}
                            {{if gt $key 0}}
                            <li class="top-line-dot">
                                <a class="text-overflow" href="/detail{{$value.Link}}" title="{{$value.Name}}">
                                    <span class="text-muted pull-right"></span>
                                    <em class="text-red">{{add $key 1}} . </em>{{$value.Name}}</a>
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head active bottom-line clearfix">
                        <a class="more text-muted pull-right" href="/display/?m=vod-type-id-4.html">更多 <i
                                class="icon iconfont icon-more"></i></a>
                        <h3 class="title">
                            <img src="static2/picture/icon_4.png" alt="动漫推荐">
                            <a href="/display/?m=vod-type-id-4.html">动漫</a>
                        </h3>
                        <ul class="nav nav-text pull-right hidden-sm hidden-xs">
                        </ul>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <div class="col-lg-wide-8 col-xs-1 padding-0">
                        <ul class="stui-vodlist clearfix">

<!--                            <li class="col-md-6 col-sm-4 col-xs-3">-->
<!--                                <div class="stui-vodlist__box stui-vodlist__bg">-->
<!--                                    <a class="stui-vodlist__thumb lazyload" href="b4942ae1f1.html" title="残次品放逐星空"-->
<!--                                       data-original="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@main/meme.jpg">-->
<!--                                        <span class="play hidden-xs"></span>-->
<!--                                        <span class="pic-text text-right">更新至13集</span>-->
<!--                                    </a>-->
<!--                                    <div class="stui-vodlist__detail active">-->
<!--                                        <h4 class="title text-overflow"><a href="b4942ae1f1.html" title="残次品放逐星空">残次品放逐星空</a>-->
<!--                                        </h4>-->
<!--                                        <p class="text text-overflow text-muted hidden-xs">沈磊,梁达伟,黄莺,刘北辰,阿牧</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->

                            {{range $key, $value := .newCartoon}}
                            {{if ge $key 12}}
                            {{else}}
                            <li class="col-md-6 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box stui-vodlist__bg">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}">
                                        <span class="play hidden-xs"></span>
                                        <span class="pic-text text-right">1080P</span>
                                    </a>
                                    <div class="stui-vodlist__detail active">
                                        <h4 class="title text-overflow"><a href="/detail{{$value.Link}}" title="{{$value.Name}}">{{$value.Name}}</a>
                                        </h4>
                                        <p class="text text-overflow text-muted hidden-xs">{{$value.Starring}}</p>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                            {{end}}


                        </ul>
                    </div>
<!--                    <div class="col-lg-wide-2 hidden-md hidden-sm hidden-xs">-->
<!--                        <ul class="stui-vodlist__media active col-pd clearfix">-->
<!--                            <li>-->
<!--                                <div class="thumb">-->
<!--                                    <a class="m-thumb stui-vodlist__thumb lazyload" href="b4942ae1f1.html"-->
<!--                                       title="残次品放逐星空"-->
<!--                                       data-original="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@main/meme.jpg"></a>-->
<!--                                </div>-->
<!--                                <div class="detail detail-side">-->
<!--                                    <h4 class="title"><a href="b4942ae1f1.html"><i-->
<!--                                            class="icon iconfont icon-more text-muted pull-right"></i> 残次品放逐星空</a></h4>-->
<!--                                    <p class="font-12"><span class="text-muted">类型：</span>动画，<span-->
<!--                                            class="text-muted"><span class="text-muted">地区：</span>中国大陆</span></p>-->
<!--                                    <p class="font-12 margin-0"><span class="text-muted">主演：</span>沈磊,梁达伟,黄莺,</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <ul class="stui-vodlist__text col-pd clearfix" style="padding-top: 0;">-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="19969ee989.html" title="一人之下第四季"><span-->
<!--                                        class="text-muted pull-right">更新至05集</span> <em class="text-red">2 . </em>一人之下第四季</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="86bf3e5348.html" title="异世界中药铺"><span-->
<!--                                        class="text-muted pull-right">更新至93集</span> <em class="text-red">3 . </em>异世界中药铺</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="index36.html" title="完美世界"><span-->
<!--                                        class="text-muted pull-right">更新至28集</span> <em class="text-red">4-->
<!--                                    . </em>完美世界</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="f722b2cb2a.html" title="宿命回响"><span-->
<!--                                        class="text-muted pull-right">更新至02集</span> <em class="text-red">5-->
<!--                                    . </em>宿命回响</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="8d2106d52f.html" title="狂热深渊迷失的孩子"><span-->
<!--                                        class="text-muted pull-right">更新至01集</span> <em class="text-red">6 . </em>狂热深渊迷失的孩子</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="5b7885d4c1.html" title="我被逐出队伍后过上慢生活"><span-->
<!--                                        class="text-muted pull-right">更新至2集</span> <em class="text-red">7 . </em>我被逐出队伍后过上慢生活</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="a8df75796e.html" title="迷宫标记者"><span-->
<!--                                        class="text-muted pull-right">更新至1集</span> <em class="text-red">8-->
<!--                                    . </em>迷宫标记者</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="ffc29c3ff7.html" title="动态漫画全球高武"><span-->
<!--                                        class="text-muted pull-right">更新至5集</span> <em class="text-red">9 . </em>动态漫画全球高武</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="6f8ba73a00.html" title="世界顶尖的暗杀者转生为异世界贵族"><span-->
<!--                                        class="text-muted pull-right">更新至2集</span> <em class="text-red">10 . </em>世界顶尖的暗杀者转生为异</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="f69987421a.html" title="独步逍遥"><span-->
<!--                                        class="text-muted pull-right">更新至147集</span> <em class="text-red">11 . </em>独步逍遥</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="5ee10cfd89.html" title="春秋封神"><span-->
<!--                                        class="text-muted pull-right">更新至21集</span> <em class="text-red">12 . </em>春秋封神</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="0c7c3f9cef.html" title="星河至尊"><span-->
<!--                                        class="text-muted pull-right">更新至40集</span> <em class="text-red">13 . </em>星河至尊</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="06f6e4da91.html" title="万界仙踪2018"><span-->
<!--                                        class="text-muted pull-right">更新至210集</span> <em class="text-red">14 . </em>万界仙踪2018</a>-->
<!--                            </li>-->
<!--                            <li class="top-line-dot">-->
<!--                                <a class="text-overflow" href="d3e0db94e9.html" title="狂神魔尊"><span-->
<!--                                        class="text-muted pull-right">更新至51集</span> <em class="text-red">15 . </em>狂神魔尊</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->


                    <div class="col-lg-wide-2 hidden-md hidden-sm hidden-xs">
                        {{range $key, $value := .newCartoon}}
                        {{if eq $key 0}}
                        <ul class="stui-vodlist__media active col-pd clearfix">
                            <li>
                                <div class="thumb">
                                    <a class="m-thumb stui-vodlist__thumb lazyload" href="/detail{{$value.Link}}" title="{{$value.Name}}"
                                       data-original="{{$value.Cover}}"></a>
                                </div>
                                <div class="detail detail-side">
                                    <h4 class="title"><a href="/detail{{$value.Link}}"><i
                                            class="icon iconfont icon-more text-muted pull-right"></i> {{$value.Name}}</a></h4>
                                    <p class="font-12">
                                        <span class="text-muted">类型：</span>{{$value.Category}}
                                    </p>
                                    <p class="font-12 margin-0"><span class="text-muted">主演：</span>{{$value.Starring}}</p>
                                </div>
                            </li>
                        </ul>
                        {{end}}
                        {{end}}

                        <ul class="stui-vodlist__text col-pd clearfix" style="padding-top: 0;">
                            {{range $key, $value := .newCartoon}}
                            {{if gt $key 0}}
                            <li class="top-line-dot">
                                <a class="text-overflow" href="/detail{{$value.Link}}" title="{{$value.Name}}">
                                    <span class="text-muted pull-right"></span>
                                    <em class="text-red">{{add $key 1}} . </em>{{$value.Name}}</a>
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- 列表 -->

    </div>
</div>

{{template "footer"}}

</body>

</html>
{{end}}